<div class="jumbotron"></div>
<br>
<div class="container">
  {{#each model.questions as |question|}}
     <p>{{#link-to 'question' question.id}}{{question.query}}{{/link-to}}</p>
     <p>{{question.author}}</p>
     {{question-popularity question}}
     <br>
     {{update-question question=question update="update"}}
     <br>
     <hr>
  {{/each}}
  <h4>Ask a Question</h4>
  {{new-question save="save"}}
</div>




{{outlet}}
