<h1>Welcome to Die</h1>

<div class="container">
  {{#each model as |question|}}
     <p>{{#link-to 'question' question.id}}{{question.query}}{{/link-to}}</p>
     <p>{{question.author}}</p>
     <br>
     {{update-question question=question update="update"}}
  {{/each}}
</div>

<h4>Ask a Question</h4>
{{new-question save="save"}}


{{outlet}}
